* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: none;
    box-sizing: border-box;
    
}
html {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: linear-gradient(to bottom, #f5f5dc, #d6b18a);
}
body.active {
    position: fixed;
    width: 100%;
}
header {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes elements to top and bottom */
    align-items: center;
    height: 15svh; /* Adjust based on your design */
    padding: 10px;
}
.elementparent {
    position: relative;
    height: 100%;
    width: 100%;
}
.header_element {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("CSSBG/header_element.png");
    background-size: contain;
    bottom: 50px;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}
.navBarmobile {
    display: none;
}

nav {
    position: relative;
    width: 100%;
}
#navbar {
    display: none;
}
.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navbar li {
    list-style-type: none;
    padding-block: 20px;
}
.navbar p {
    margin: 0;
    font-weight: 700;
    padding-left: 30px;
}
.navBar {
    position: absolute;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically */
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    z-index: 99;
    
}
.navBar button {
    display: none;
}
.navBarmobile button {
    all: unset;
    display: flex;
    justify-content: center;
}
#logobg {
    flex-shrink: 0;
}
.navButtons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
    min-width: 0; /* Ensures flex items shrink properly */
}
  
.navBar ul :nth-child(3) {
    justify-content: center;
    align-items: center;

}
.navBar li {
    
    flex-shrink: 1;
    margin: auto;
    cursor: pointer;
    display: flex;
}
.navBar li p {
    font-weight: 500;
}
.navBar p:hover {
    background-color: blue;
}
.logo {
    top: 15px;
    height: 150px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}





































.headerPage {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff5d6;
    transition: top 0.5s ease-in-out;
    z-index: 0;
    overflow: scroll;
}
.headerPage.active {
    z-index: 1;
    top: 0;
    
}
.about {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    background: linear-gradient(45deg, #f5f5dc, #d6b18a);
}

.aboutContents {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 30px;
    flex: 1;
    margin-top: 150px;
}

.about h2 {
    font-size: 30px;
    font-weight: 700;
    
    padding: 0;
    margin: 0;
    padding-inline-start: 60px;
}

.about ul {
    height: 700px;
    overflow: scroll;
}

.aboutContentscol1 {
    width: 100%;
    padding: 0 0 0 0px;
    transition: height 0.3s ease;
}
.dropdownmvcorecontent {
    display: none;
}
.dropdownmvcore p {
    text-align: left;
    font-weight: 700;
    text-align: justify
}
.dropdownmvcorecontent p {
    font-weight: 400;
}
.aboutContentscol1 li {
    text-decoration: none;
    list-style: none;
    padding-inline-start: 20px;
    padding-block: 40px;
    border-bottom: 1px solid #695450;
}

.aboutContentscol2 {
    width: 100%;
    height: 97%;
    background-color: #f0e2c9;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
        url(CSSBG/logo.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, 50%;
    display: flex;
    align-items: flex-end;
}
.aboutContentscol2content {
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutContentscol2content h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.aboutContentscol2content p {
    padding-inline: 50px;
    text-align: center;
}
.aboutContentscol2content a {
    all: unset;
}
.aboutContentscol2content a p {
    padding: 15px;
    padding-inline: 20px;
    border: 2px solid white;
    width: fit-content;
    cursor: pointer;
}














.menu {
    overflow: scroll;
    height: 800px;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(135deg, #f5f5dc, #d6b18a);
}
.menuContents {
    position: fixed;
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 30px;
}
.menu h2 {
    font-size: 30px;
    font-weight: 700;
    padding-inline-start: 60px;
}
.menuContents ul {
    height: 400px;
    overflow: scroll;
}
.menuContentscol1 {
    width: 100%;
    padding: 20px;
    transition: height 0.3s ease; /* Smooth transition for height */
}
.menuContentscol1 p {
    text-align: left;
}
.menuContentscol1 li {
    text-decoration: none;
    list-style: none;
    padding-inline-start: 20px;
    padding-block: 20px;
    border-bottom: 1px solid #695450;
}

.dropdown {
    position: relative;
}

.dropdowncontent {
    display: none;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 0.8rem;
    transition: max-height 0.3s ease;
    overflow: hidden;
    text-align: justify;
}

.dropdown p {
    cursor: pointer;
    font-weight: 700;
    margin: 0;
}

.menuContentscol2 {
    background-color: red;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.hopiaItemContainer {
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
    
}
.hopiaImgContainer {
    background-color: blue;
}
.hopiaDescription {
    position: relative;
}
.hopiaDescription p {
    text-align: justify;
    text-align: center;
    font-size: 20px;
    padding-inline: 10px;
}
.hopiaDescription img {
    position: absolute;
    bottom: -15px;
    width: 100%;
}

.about, .menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
}

.about.active, .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear;
}
.menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear;
}

.headerpagecontents {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background: linear-gradient(135deg, #f5f5dc, #d6b18a);
}
#contactsContainer {
    background: linear-gradient(135deg, #f5f5dc, #d6b18a);
    justify-content: space-evenly;
    column-gap: 30px;
}
.contact-container {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}
.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-right {
    display: flex;
    flex-direction: column;
}
.contact-right div{
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 20px;
    padding-block: 40px;
    border-bottom: 1px solid black;
}
.contact-right a {
    all: unset;
    cursor: pointer;
}
.contact-right :last-child {
    border: none;
}
.contact-right div img {
    height: 30px;
}



.contact-inputs:focus {
    border: 2px solid burlywood;
}
.contact-inputs::placeholder {
    color: gray;
}
.contact-left button {
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    background: linear-gradient(135deg, #f5f5dc, #d6b18a);
}









