
section {
    height: 80vh;
    position: relative;
}
.video-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    z-index: -1;
    opacity: 0.4;
    width: 95%;
    height: 95%;
}

h1 {
    font-weight: 700;
    font-size: 100px;
    color: #695450;
    margin: 0;
}

.welcome {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.s2 .s2container {
    display: flex;
    flex-wrap: nowrap;
    height: 90%;
    width: 90%;
    background-image: url("CSSBG/bg1compressed.png");
    background-size: contain;
}
.s2 h1 {
    font-size: 7vh;
    align-self: center;
    text-align: justify;
    word-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    padding-inline-start: 30px;
}
.s2subcontainer {
    display: grid;
    grid-template-rows: 80% 20%;
}
.s2 .hopiaimgcontainer {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.s2 div img {
    height: 65%;
    max-width: 100%;
    height: auto;
}
.s2 .orderButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    column-gap: 20px;
    
}
.s2 ul {
    display: flex;
    column-gap: 20px;
    margin-inline-end: 50px;
    
}
.s2 li {
    padding-inline: 20px;
    padding-block: 16px;
    margin: auto;
    list-style-type: none;
    box-sizing: border-box;
    border: 2px solid black;
}
.s2 li :hover {
    opacity: 0.5;
}
.s2 a {
    margin: auto;
    all: unset;
    font-weight: 700;
}
.s2 ul :first-child {
    background-color: #695450;
    border: none;
}
.s2 ul :last-child {
    
    background-color: transparent;
}
.s3 {
    height: 1000px;
}
.s3 div {
    height: 100%;
    width: 100%;
}
.frame {
    height: 100%;
    width: 100%;
    position: absolute;
}
.frame img {
    height: 200px;
    position: absolute;
}
.frame :nth-child(1) {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
.frame :nth-child(2) {
    top: 0;
    right: 0;
    transform: rotate(270deg);
}
.frame :nth-child(3) {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
}
.frame :nth-child(4) {
    bottom: 0px;
    right: 0;
}

.s3 div video {
    height: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.backgroundBlur {
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}

.backgroundBlur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("CSSBG/bgblurfixed.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1; /* Ensures the blur stays behind the content */
}