body {
    all: unset;
    background-color: #f8f4dc;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
article {
    height: 80vh;
    width: 100%; 
    position: relative;
}
header {
    background-color: #ebdaba;
}
#logo {
    visibility: hidden;
}
.a1 {
    position: relative;
    background-repeat: repeat-x;
    background-size: contain;
    transform-origin: center;
    will-change: transform; /* Optimizes performance */
}
.a1 h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    font-size: 5vw;
    padding-top: 100px;
    animation: fadeout linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transform-origin: center;
}
.ooze_container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(CSSBG/droop.png);
    background-size: contain;
    transform-origin: center;
    top: 0;
    z-index: 1;
    animation: a1anim linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
.a2 {
    margin-top: 50px;
    height: auto;
}
.hopiacontainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 600px 600px;
    padding-inline: 100px;
    justify-content: center;
    gap: 60px;
}
.backdrop {
    width: 600px;
    height: 600px;
    position: absolute;
    border-radius: 20px;
    
    background-image: url(CSSBG/bg1compressed.png);
    background-size: cover;
    background-size: 200%;
    z-index: 1;
}
.hopiacard {
    padding: 20px;
    background-color: green;
    height: 600px;
    background-image: url(CSSBG/bg1compressed.png);
    background-size: cover;
    background-size: 200%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-items: center;
    animation: slideInFromRight 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range: entry;
    border-radius: 20px;
    position: relative;
}

.hopiacard p {
    font-size: 40px;
    text-align: center;
    font-family: var(--times);
}
.hopiaimg {
    height: 300px;
    width: 300px;
    z-index: 10;
}
#apple {
    filter: drop-shadow(5px 5px 30px #fe3939);
}
#mango {
    filter: drop-shadow(5px 5px 30px #f0dc00);
}
#strawberry {
    filter: drop-shadow(5px 5px 30px #ff007b);
}
#pandan {
    filter: drop-shadow(5px 5px 30px #37ff29);
}
.bottomElement {
    position: absolute;
    bottom: 0;
    margin-bottom: -20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.elemtop {
    top: 0;
    margin-top: -20px;
    transform: rotate(180deg);
}
.elemright {
    top: 50%;
    height: 100%;
    width: 30px;
    margin-right: -20px;
    transform: translateY(-50%);
    right: 0;
}
.elemleft {
    top: 50%;
    height: 100%;
    width: 30px;
    margin-left: -20px;
    transform: translateY(-50%);
    left: 0;
}
.title {
    z-index: 9;
    position: absolute;
    top: -60px;
    animation: silly 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: contain;
    background-color: transparent;
    animation-fill-mode: both;
    will-change: transform;
    transform: translateZ(0);
    height: 324px;
}
.filling {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -60px;
    margin-left: -150px;
    transform: rotate(-50deg);
    z-index: 10;
    animation: filling-left 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: cover;
    
    animation-fill-mode: both;
}

.moving {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50%;
    top: 100px;
    z-index: 99;
}
.moving img {
    height: 130px;
    animation: swing 2s infinite ease-in-out;
}
.moving :last-child {
    height: 130px;
    animation: swing-invert 2s infinite ease-in-out;
}
.moving-header {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50%;
    top: 90px;
    z-index: 99;
    animation: fadeout-moving-header linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
}
.moving-header img {
    height: 200px;
    animation: swing 2s infinite ease-in-out;
}
.moving-header :last-child {
    animation: swing-invert 2s infinite ease-in-out;
}
.row2 {
    top: 290px;
    gap: 30%;
}
.a3 {
    margin-top: 5%;
    height: auto;
    
    margin-bottom: 5%;
}
.a3 h2{
    font-size: 40px;
    text-align: center;
}
.drinkscontainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 600px 600px;
    padding-inline: 100px;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.drinkscard {
    padding: 20px;
    background-color: green;
    height: 600px;
    background-image: url(CSSBG/bg1compressed.png);
    background-size: cover;
    background-size: 200%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    animation: slideInFromRight 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range: entry;
    border-radius: 20px;
    position: relative;
}
.partition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sauce {
    background-color: #976835b9;
    border-radius: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    gap: 40px;
}
.sauce img {
    height: 230px;
}
.sauce p {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    font-family: var(--times);
}
.sauce div :first-child {
    font-size: 16px;
}
@keyframes fadeout {
    to {
        opacity: 0;
        transform: translate(-50%) scale(1.5);
    }
}
@keyframes fadeout-moving-header {
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}


@keyframes a1anim {
    60%, 100% {transform: translateY(300px); scale: 1.5;}
}
@keyframes slideInFromRight {
    0% {
        transform: translateY(250px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes silly {
    0% {
        
        transform: translateY(200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes filling-left {
    0% {
        transform: translateY(250px);
        opacity: 1;
        
        transform: rotate(-50deg);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        
        transform: rotate(-50deg);
    }
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
@keyframes swing-invert {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

@media only screen and (max-width: 620px) {
    html, body {
        overflow-x: hidden;
    }
    .moving-header {
        
    }
    .ooze_container {
        background-repeat: no-repeat;
    }
    .row2 {
        top: 375px;
    }
    .a1 {
        overflow-x: hidden;
    }
    .a1 h1 {
        font-size: 10vw;
    }
    .a3 {
        margin-bottom: 5%;
    }
    .a3 h2 {
        font-size: 20px;
    }
    #logo {
        visibility: visible;
        z-index: 1;
    }
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .hopiacontainer {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        row-gap: 20px;
        padding: 0;
    }
    .hopiacard {
        height: auto;
    }
    .hopiaimg {
        width: 100px;
        height: 100px;
    }
    .hopiacard p {
        font-size: 1rem;
    }
    .drinkscontainer {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        row-gap: 20px;
        padding: 0;
    }
    .drinkscard {
        height: 250px;
        width: 300px;
    }
    .sauce img {
        height: 100px;
    }
    .sauce {
        height: 50px;
    }
    .sauce div :first-child {
        font-size: 10px;
    }
    .sauce p {
        font-size: 1rem;
    }
    .moving-header img {
        height: 100px;
    }
    .moving {
        width: 100%;
        overflow-x: hidden;
        top: 50px;
        gap: 35%;
    }
    .moving img {
        height: 70px;
    }
    .moving :last-child {
        height: 70px;
    }
    .bottomElement {
        margin-bottom: -8px;
        height: 10px;
    }
    .title {
        top: -30px;
        height: 200px;
        animation: silly 0.5s ease-out forwards;
        animation-timeline: view();
        animation-range: contain;
        background-color: transparent;
        animation-fill-mode: both;
    }
    .bottomElement {
        position: absolute;
        bottom: 0;
        margin-bottom: -10px;
        width: 100%;
        height: 15px;
        z-index: 2;
    }
    .elemtop {
        top: 0;
        margin-top: -10px;
        transform: rotate(180deg);
    }
    .elemright {
        top: 50%;
        height: 100%;
        width: 15px;
        margin-right: -10px;
        transform: translateY(-50%);
        right: 0;
    }
    .elemleft {
        top: 50%;
        height: 100%;
        width: 15px;
        margin-left: -10px;
        transform: translateY(-50%);
        left: 0;
    }
    
    .b {
        margin-bottom: -5px;
        height: 12px;
    }
}
